@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Montserrat:ital,wght@1,100;1,300;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #000;
    font-family: 'Montserrat', sans-serif;
    background-color: #ffc6ff;

}

img{
    max-width: 100%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
    font-size: 62.5%;
}