@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Dancing Script', cursive, sans-serif;
    background-color: rgb(195, 243, 227);
}

html{
    scroll-behavior: smooth;
    font-size: 62.5%;
}